main .main_conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all {
    border-style: solid;
    border-width: 1px;
    width: 35%;
    background-color: white;
}

.all>p {
    color: black;
}

.entete {
    text-align: center;
}

.web_conteneur {
    padding-left: 5px;
    padding-right: 5px;
}

.webzine {
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-left: 0.5rem;
    cursor: pointer;
}

.titre {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.webzine:hover {
    background-color: green;
}

.new_webzine {
    width: 100%;
}

.new_webzine>div {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.new_webzine p {
    margin-top: 1.5rem;
}

.donnees {
    font-weight: bold;
}

.bulle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid 1px black;
    vertical-align: bottom;
}

.Vierge {
    background-color: var(--Article-Vierge);
}

.EnCours {
    background-color: var(--Article-EnCours);
}

.Termine {
    background-color: var(--Article-Termine);
}

.Archive {
    background-color: var(--WebZine_Archive);
    color: black;
}